@use '../../theme/theme' as theme;

.car {
	padding: 20px 0 40px;
	background-color: var(--background-color-light);

	@include theme.md {
		padding: clamp(20px, 3vw, 40px) 0;
	}

	// .car__heading
	&__heading {
		display: flex;
		flex-flow: row wrap;
		gap: 10px 8px;
		align-items: flex-start;
		justify-content: space-between;
	}

	// .car__title
	&__title {
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		gap: 4px 16px;
		align-items: center;
		justify-content: flex-start;
		font-family: var(--fonts-family-bold), system-ui, sans-serif;
	}

	// .car__caption
	&__caption {
		@include theme.text-style-helper(h1);
	}

	// .car__city
	&__city {
		color: var(--font-color-light-gray);

		@include theme.text-style-helper(h2);
	}

	// .car__availability
	&__availability {
		position: relative;
		display: inline-flex;
		padding: 4px 12px 4px 26px;
		color: var(--font-color-gray);
		background-color: var(--background-color-light-gray);
		border-radius: var(--radius-16);

		@include theme.text-style-helper(t3);


		// .car__availability::before
		&::before {
			position: absolute;
			top: 50%;
			left: 12px;
			width: 4px;
			height: 4px;
			content: '';
			background-color: var(--background-color-blue);
			border-radius: var(--radius-50percent);
			transform: translateY(-50%);
		}
	}

	// .car__body
	&__body {
		@include theme.grid(1, 1, 1, 2);

		margin-top: 20px;

		@include theme.lg {
			margin-top: 24px;
		}

		// .car__body-left
		&-left {
			display: flex;
			flex-direction: column;
			gap: 4px;

			@include theme.lg {
				gap: 12px;
			}
		}
	}

	// .car__image-wrapper
	&__image-wrapper {
		position: relative;
		display: flex;
		flex-grow: 1;
		min-height: 300px;
		overflow: hidden;
		background-color: var(--background-color-white);
		border-radius: var(--radius-16);
	}

	// .car__discount
	&__discount {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		display: inline-block;
		padding: 4px 12px;
		color: #E4ECF8;
		background-color: var(--background-color-red);
		border-radius: 0 var(--radius-16) 0 var(--radius-16);
	}

	// .car__color-description
	&__color-description {
		position: absolute;
		bottom: 16px;
		left: 16px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		color: var(--font-color-gray);

		@include theme.text-style-helper(t3);

		span {
			color: var(--font-color-dark);

			@include theme.text-style-helper(t2);
		}
	}

	// .car__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}

	// .car__colors
	&__colors {
		display: flex;
		flex-flow: row nowrap;
		gap: 8px;
		align-items: center;
		padding: 12px 16px;
		border: 1px var(--background-color-light-gray) solid;
		border-radius: 16px;
	}

	// .car__color
	&__color {
		display: block;
		width: 24px;
		height: 24px;
		border: 1px var(--background-color-light-gray) solid;
		border-radius: var(--radius-50percent);

		// .car__color--current
		&--current {
			width: 32px;
			height: 32px;
		}

		// .car__color--gray
		&--gray {
			background-color: var(--background-color-gray);
		}

		// .car__color--black
		&--black {
			background-color: var(--background-color-dark);
		}

		// .car__color--white
		&--white {
			background-color: var(--background-color-white);
		}

		// .car__color--blue
		&--blue {
			background-color: var(--background-color-light-blue);
		}

		// .car__color--red
		&--red {
			background-color: var(--utility-color-red);
		}
	}

	// .car__body-right
	&__body-right {
		display: flex;
		flex-direction: column;
		margin-top: 28px;
		border-radius: var(--radius-16);

		@include theme.md {
			padding: 40px;
			margin-top: 0;
			border: 1px var(--background-color-light-gray) solid;
		}
	}

	// .car__characteristics
	&__characteristics {
		@include theme.grid(2,2,4,4);

		gap: 8px;
		order: 1;

		@include theme.lg {
			gap: 12px;
		}
	}

	// .car__characteristic
	&__characteristic {
		display: flex;
		flex-flow: row wrap;
		gap: 4px;
		padding: 10px;
		background-color: var(--background-color-light-blue);
		border-radius: 16px;

		@include theme.md {
			flex-flow: column nowrap;
		}
	}

	// .car__characteristic-title
	&__characteristic-title {
		flex-grow: 1;

		@include theme.text-style-helper(t3);
	}

	// .car__characteristic-value
	&__characteristic-value {
		min-width: 100%;
		font-family: var(--fonts-family-bold), system-ui, sans-serif;
		text-transform: uppercase;

		@include theme.text-style-helper(h4);

		@include theme.lg {
			min-width: auto;
		}

		// .car__characteristic-value:last-child
		&:last-child {
			text-transform: capitalize;
		}
	}

	// .car__options
	&__options {
		display: flex;
		flex-flow: column nowrap;
		gap: 16px;
		order: 3;
		margin-top: 24px;

		@include theme.md {
			order: 2;
		}
	}

	// .car__option
	&__option {
		$option: &;

		display: flex;
		flex-flow: row nowrap;
		gap: 8px;
		align-items: center;
		justify-content: space-between;
		color: var(--font-color-gray);

		@include theme.text-style-helper(t2);

		// .car__option:has(.car__option-checkbox--checked)
		&:has(#{$option}-checkbox--checked) {
			color: var(--font-color-dark);

			// .car__option:has(.car__option-checkbox--checked) .car__option-text
			#{$option}-text {
				color: var(--font-color-blue);
			}
		}
	}

	// .car__option-text
	&__option-text {
		@include theme.text-style-helper(h4);

		flex-shrink: 0;
		font-family: var(--fonts-family-bold), system-ui, sans-serif;
	}

	// .car__price
	&__price {
		order: 4;
		margin-top: 14px;

		@include theme.md {
			order: 3;
			margin-top: 18px;
		}
	}

	// .car__price-heading
	&__price-heading {
		display: flex;
		flex-flow: row nowrap;
		gap: 8px;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		border-bottom: 1px var(--background-color-light-gray) solid;

		@include theme.md {
			padding-bottom: 0;
			margin-top: 24px;
			border: none;
		}
	}

	// .car__price-title
	&__price-title {
		@include theme.text-style-helper(t2);
	}

	// .car__price-benefit
	&__price-benefit {
		font-family: var(--fonts-family-bold), system-ui, sans-serif;

		@include theme.text-style-helper(h3);
	}

	// .car__price-vol
	&__price-vol {
		margin-top: 20px;
	}

	// .car__price-sum
	&__price-sum {
		display: flex;
		flex-flow: column nowrap;
		gap: 16px;

		@include theme.md {
			gap: 10px;
		}
	}

	// .car__price-value
	&__price-value {
		display: flex;
		flex-flow: row wrap;
		gap: 12px;
		align-items: center;
		justify-content: flex-start;
		font-family: var(--fonts-family-bold), system-ui, sans-serif;
		color: var(--font-color-blue);

		@include theme.text-style-helper(h1);

		@include theme.md {
			gap: 16px;
		}
	}

	// .car__price-credit
	&__price-credit {
		@include theme.text-style-helper(t3);

		padding: 4px 12px;
		font-family: var(--fonts-family-default), system-ui, sans-serif;
		color: var(--font-color-blue);
		background-color: var(--background-color-light-blue);
		border-radius: var(--radius-16);
	}

	// .car__price-start
	&__price-start {
		font-family: var(--fonts-family-bold), system-ui, sans-serif;

		@include theme.text-style-helper(h3);
	}

	// .car__order
	&__order {
		@include theme.grid(2);

		position: relative;
		left: calc(-1 * var(--fields));
		order: 2;
		width: calc(100% + var(--fields) * 2);
		padding: 12px var(--fields);
		margin-top: 16px;
		background-color: var(--background-color-white);

		@include theme.md {
			position: static;
			order: 4;
			width: 100%;
			padding: 0;
			margin-top: 40px;
			background-color: transparent;
		}

		// .car__order-reserve
		&-reserve {
			order: 2;

			@include theme.md {
				order: 1;
			}
		}

		// .car__order-buy
		&-buy {
			order: 1;

			@include theme.md {
				order: 2;
			}
		}
	}
}
